*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --emerald: rgba(29, 224, 153, 1);
    --castleton-green: rgba(42, 97, 77, 1);
    --onyx: rgba(55, 62, 64, 1);
    --antiflash-white: rgba(238, 240, 242, 1);
    --white: rgba(254, 252, 251, 1);
    --primary-font: 'DM Sans', sans-serif;
}

html,
body {
    height: 100%;
    min-height: 100%;
    position: relative;
}

html,
html:focus-within {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--onyx);
    background-color: var(--white);
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: var(--primary-font)
}

img,
picture,
video,
canvas {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select,
input::placeholder {
    font: inherit;
}

button,
input[type="button"],
input[type="submit"],
input[type="checkbox"],
input[type="radio"],
input[type="file"] {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }

    html,
    html:focus-within {
        scroll-behavior: auto;
    }
}

.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

.main-title {
    padding: 1rem;
    font-size: 4rem;
    color: var(--emerald);
}

.expense-parent {
    background-color: var(--antiflash-white);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 850px;
    border-radius: 0.5rem;
    padding: 1rem;
}

.form-parent {
    display: flex;
    flex-flow: row nowrap;
    padding: 1rem 0;
    width: 100%;
    max-width: 800px;
}

.form-group {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    width: 100%;
}

.input {
    padding: 0.5rem 1rem;
    border: 2px solid var(--emerald);
    border-radius: 0.3rem;
    width: 100%;
}

.input::placeholder {
    color: var(--onyx);
    opacity: 0.5;
}

input:enabled {
    border: 2px solid var(--emerald);
}

.label {
    padding: 0.5rem 0;
    font-size: 0.8rem;
    font-weight: bold;
}

.add-button {
    padding: 0.5rem;
    margin-top: 2rem;
    background-color: var(--emerald);
    border: none;
    border-radius: 0.3rem;
    color: var(--antiflash-white);
    font-weight: bold;
}

table {
    border: 2px solid var(--emerald);
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
}

th {
    padding: 0.5rem;
    background-color: var(--emerald);
    color: var(--antiflash-white);
    text-transform: uppercase;
}

.name-th {
    width: 70%;
    border-right: 1px solid var(--antiflash-white);
}

.amount-th {
    width: 30%;
}

tbody tr, tfoot tr {
    height: 2.5rem;
    text-align: center;
    border: 1px solid var(--emerald);
}

tbody td, tfoot td {
    padding: 0.3rem;
}


tfoot tr{
    height: 1rem;
    font-weight: bold;
    color: var(--antiflash-white);
    background-color: var(--emerald);
}

tr td:nth-child(2)::after{
    content: "$";
    opacity: 0.7;
}
